{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <style>
        .a {
            text-decoration: none;
        }

        .box-card {
            border-radius: 10px
        }
    </style>
</head>
<body style="background-color: #F5FAFF">
{% include 'main/navbar.html' %}

<div style="text-align:center;font-family: 'Fira Code',monospace;font-size: 7px; margin-left: 80px;margin-top: 130px;font-weight: 500;">
    <h1 style="font-size: 47px;font-weight: 500;"><b><span style="color: #0076F5;"> WebBrain </span></b> akademiyasida
        sizga <br> nazariy va amaliy jihatdan <span style="color: #0076F5">katta</span>
        <br> <span style="color: #0076F5"> tajribali </span> mentorlar dars beradi</h1>
</div>
<!--kart boshlandi -1-->


{% for tim in student %}
    <div style="display: flex;justify-content: center;">
        <div class="box-card" style="
    width: 55rem;
    height: 480px;
    box-shadow: 0px 0px 30px -18px;margin-top: 96px">
            <img class="rounded-circle"
                 style=" margin-top: 90px;margin-left: 104px;height: 9rem; width: 10rem; "
                 src="{{ tim.img.url }}" alt="">
            <div style="margin-left: 21rem;margin-top: -9.3rem;font-size: 19px;">


            </div>
            <div style="margin-top: -2rem">
                <div class="card mb-3"
                     style="max-width: 540px;border: 0px solid red;width: 900px;  margin: 0 0 0 320px; height: 50px;     background-color: #F5FAFF; ">
                    <div class="row no-gutters">
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ tim.sohasi }}</h5>
                                <p style="    width: 503px;" class="card-text">{{ tim.text }}</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div style="
    margin-left: 20rem;margin-top: 11rem">
                        <button type="button" class="btn btn-link">{{ tim.tag }} </button>
                    </div>
                </div>
                <div>
                    <h2 style="margin-left: 7rem;font-size: 25px;margin-top: -4rem">{{ tim.name }}</h2>
                    <h3 style="margin-left: 6rem;font-size: 19px;color: #514D48;">{{ tim.job }}</h3>
                </div>
                <div style="margin-left: 120px;margin-top: 1.5rem">
                    <a class="a" href=""><img src="{% static 'images/fesbook.png' %}" alt=""></a>
                    <a class="a" style="margin-left: 0.5rem" href=""><img src="{% static 'images/instagram.png' %}"
                                                                          alt=""></a>
                    <a class="a" style="margin-left: 0.5rem" href=""><img src="{% static 'images/youtube.png' %}"
                                                                          alt=""></a>
                    <a class="a" style="margin-left: 0.5rem" href=""><img src="{% static 'images/github.png' %}" alt=""></a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
<!--kart tugadi-1-->


<br><br><br>
<hr>
<br>

<div style="border-top: 1.5px solid #edeceb;border-bottom: 1.5px solid #edeceb;height: 300px;margin-top: 100px">
    <div class="container">
        <div class="row mt-5">
            <div class="col-4">
                <p style="font-size:15px;font-family: 'Nunito Sans', sans-serif;">
                    Neumorphism UI PRO is a premium Bootstrap UI <br> Kit built based on the newest design trend called
                    <br> Neumorphism.
                </p>
                <a href=""><img src="{% static './images/Vector.jpg' %}" alt=""></a>
                <a href=""> <img src="{% static './images/Vector%20(1).jpg' %}" alt="" style="margin-left: 20px"></a>
                <a href=""><img src="{% static './images/Vector%20(1).png' %}" alt="" style="margin-left: 20px"></a>
            </div>
            <div class="col-2">
                <h5>Webbrain</h5>
                <ul style=" list-style-type: none;padding:0">
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Team</li>
                    </a>
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Partners</li>
                        <a href="" style="color: black;text-decoration: none">
                            <li class="mt-4">Lessons</li>
                        </a>
                        <a href="" style="color: black;text-decoration: none">
                            <li class="mt-4">About us</li>
                        </a>
                </ul>
            </div>
            <div class="col-2">
                <h5>Others</h5>
                <ul style=" list-style-type: none;padding:0">
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Docs</li>
                    </a>
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Changelog</li>
                    </a>
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Licence</li>
                    </a>
                    <a href="" style="color: black;text-decoration: none">
                        <li class="mt-4">Support</li>
                    </a>

                </ul>
            </div>
            <div class="col-4">
                <h5>Others</h5>
                <p style="font-size: 16px">
                    Join our mailing list. We write rarely, but only <br> the best content
                </p>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput6"
                           placeholder="Email manzilingiz"
                           style="width: 321px;height: 48px; border-radius: 8px;border: 1px solid #edeceb">
                </div>
                <button type="button" class="btn btn-primary "
                        style="width:90%; box-shadow: 4px 8px 16px rgba(0, 118, 245, 0.4);">Yuborish
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mt-5" style="text-align: center">
    <a class="navbar-brand" href="#"><h1 style="font-family: 'Fira Code', monospace;color: black"><span
            style="color:#0076F5;">web</span>brain</h1></a>
    <p style="color: black;font-size: 15px">Copyrigth &copy; Webbrain 2021. All rights reserved</p>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>
</html>