{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopp</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
          integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body style="background-color: #F5FAFF">

{% include 'main/navbar.html' %}


<div class="container">
    <div class="row">
        <div class="col-8">
            {% for i in vedio %}
                <h1 style="margin-left: 61rem"><a href="">{{ i.name }}</a></h1>
                <div class="mt-4 ">
                    <video width="50%" controls style="border-radius: 12px">
                        <source src="{{ i.video.url }}" type="video/mp4">
                    </video>
                </div>
            {% endfor %}
        </div>
    <div style=" ; border: 0px solid black;
    width: 47rem;
    margin-top: 2rem;">
        <a href="">Kurs haqida</a>
        <a href="">Resurslar</a>
        <h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tristique morbi orci id urna, egestas
            ultrices
            integer scelerisque nisl. Semper purus amet, metus sed elit diam aliquet volutpat vivamus. Id et
            morbi
            dolor
            nec magna quis vestibulum pretium est. Volutpat, eget feugiat sed egestas vitae viverra proin vitae
            netus.
            Vulputate gravida aenean montes, amet eget massa orci imperdiet. At velit enim blandit bibendum
            praesent
            dolor pharetra,<br><br><br> ligula ante. Elit suspendisse amet eu viverra nibh et odio tempus. Id a
            pellentesque sed
            elit ornare mattis commodo ornare tristique. Urna, ut nisi in consectetur convallis nulla velit ante
            ultrices. Tincidunt enim, quis nec urna quis aliquet est magna. Aenean ultricies eget elementum sit
            quis
            nibh. Posuere sagittis sed dui leo. Neque, ut a amet, eget. Enim justo scelerisque donec dui
            fermentum
            id
            phasellus libero, magna. Non justo ultrices in venenatis nibh aliquet. <br><br><br> In viverra
            tellus, sed
            commodo
            odio
            sit justo egestas. Scelerisque suspendisse condimentum pellentesque sapien, eu mattis sed. Vel,
            malesuada
            enim phasellus cursus felis quis. Metus nulla eget ullamcorper ullamcorper. Quisque ac mauris varius
            amet,
            aenean. Etiam cursus vulputate mattis et felis molestie scelerisque. Egestas odio dignissim lacus
            vel ac
            eget dictumst tortor morbi. Gravida ultrices vulputate id faucibus sed. <br><br><br> Scelerisque
            interdum
            dictumst
            vel
            vulputate. Ut pellentesque est iaculis felis odio facilisis. At pellentesque feugiat hendrerit sit.
            In
            enim
            at cursus vel. Lacus, pharetra neque lacus a semper interdum adipiscing arcu. Diam semper nulla ut
            egestas.
            Bibendum aliquet pellentesque habitant scelerisque. Ipsum mattis massa viverra vitae tincidunt arcu
            sem.
            Turpis nunc sit feugiat dui, ipsum, massa fusce orci metus. Dolor porttitor auctor auctor lectus.
            Feugiat
            viverra tempus, scelerisque non amet non commodo. Enim vel massa elementum amet rutrum massa. Semper
            id
            duis
            etiam fringilla malesuada. <br><br><br> In ut facilisis mauris dictum nibh. Sed ut arcu sed eu
            tortor
            viverra sed.
            Sollicitudin posuere tellus leo nulla. Ac bibendum consectetur ornare proin. Nulla pellentesque
            feugiat
            sit
            pharetra, quisque. Venenatis bibendum duis mauris eget faucibus lacus diam. Non egestas non ultrices
            aenean
            integer non massa. Mattis nunc condimentum mattis elementum. In vestibulum mattis feugiat id
            faucibus
            phasellus orci. Sed neque, faucibus semper donec placerat mi diam morbi. Platea commodo cras arcu
            vitae
            proin. Vulputate ullamcorper euismod tellus sit volutpat, varius. <br><br><br> Elementum tortor amet
            eget
            lorem
            faucibus
            et. Diam ullamcorper tempus faucibus enim vestibulum eget id. Volutpat felis aenean dignissim non
            proin
            a
            hac dolor amet. Sit adipiscing lacus aliquam vestibulum, fermentum vestibulum eu. Aenean leo blandit
            accumsan, sit luctus elementum nibh. Dui sed velit sit vulputate a magna viverra elit. Eget et,
            vivamus
            lectus porttitor quis. Senectus at ipsum viverra libero elementum. Purus feugiat enim id fermentum
            enim.
            Integer quis amet gravida sed.</h6>
    </div>

</div>


</div>
<br><br><br>
<hr>
<br>

<div style="border-top: 1.5px solid #edeceb;border-bottom: 1.5px solid #edeceb;height: 300px;margin-top: 100px">
    <div class="container">
        <div class="row mt-5">
            <div class="col-4">
                <p style="font-size:15px;font-family: 'Nunito Sans', sans-serif;">
                    Neumorphism UI PRO is a premium Bootstrap UI <br> Kit built based on the newest design trend called
                    <br> Neumorphism.
                </p>
               <a href=""><img src="{% static './images/Vector.jpg' %}" alt=""></a>
                <a href="">  <img src="{% static './images/Vector%20(1).jpg' %}" alt="" style="margin-left: 20px"></a>
                <a href=""><img src="{%  static './images/Vector%20(1).png' %}" alt="" style="margin-left: 20px"></a>
            </div>
            <div class="col-2">
                <h5>Webbrain</h5>
                <ul style=" list-style-type: none;padding:0">
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Team</li></a>
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Partners</li>
                        <a href="" style="color: black;text-decoration: none"><li class="mt-4">Lessons</li></a>
                        <a href="" style="color: black;text-decoration: none"><li class="mt-4">About us</li></a>
                </ul>
            </div>
            <div class="col-2">
                <h5>Others</h5>
                <ul style=" list-style-type: none;padding:0">
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Docs</li></a>
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Changelog</li></a>
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Licence</li></a>
                    <a href="" style="color: black;text-decoration: none"><li class="mt-4">Support</li></a>

                </ul>
            </div>
            <div class="col-4">
                <h5>Others</h5>
                <p style="font-size: 16px">
                    Join our mailing list. We write rarely, but only <br> the best content
                </p>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleFormControlInput6"
                           placeholder="Email manzilingiz"
                           style="width: 321px;height: 48px; border-radius: 8px;border: 1px solid #edeceb">
                </div>
                <button type="button" class="btn btn-primary "
                        style="width:90%; box-shadow: 4px 8px 16px rgba(0, 118, 245, 0.4);">Yuborish
                </button>
            </div>
        </div>
    </div>
</div>
<div class="mt-5" style="text-align: center">
    <a class="navbar-brand" href="#"><h1 style="font-family: 'Fira Code', monospace;color: black"><span
            style="color:#0076F5;">web</span>brain</h1></a>
    <p style="color: black;font-size: 15px">Copyrigth &copy; Webbrain 2021. All rights reserved</p>
</div>


</body>
</html>